<div class="container">
  <swiper
    [loop]="true"
    [autoHeight]="true"
    [allowTouchMove]="false"
    [autoplay]="autoplayOptions"
    [pagination]="paginationOptions"
    [navigation]="true"
  >
    <ng-template swiperSlide>
      <div class="blue">DIV 01 AAAAAAAAA</div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="green">DIV 02 BBBBBBBBB</div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="purple">DIV 03 CCCCCCCC</div>
    </ng-template>
  </swiper>
</div>
